/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* styling body */
    *{
        margin: 0;
    }

    body{
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        
    }

/* header starts */
    header{
        background-color: black;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header>img{
        width: 100px;
    }
/* header ends */

/* main page starts */
    .main-page{
        background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/groove-bg%5B1%5D.png);
        width: 100%;
        height: 650px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 55px;
        line-height: 55px;
        margin: 5px;
    }

    .main-page>p{
        font-size: 20px;
        width: 600px;
    }

    a{
        color:white;
        text-decoration: none;
    }

    .main-page>button{
        padding: 20px;
        background-color: #36C673;
        border: none;
        font-size: 15px;
        color: white;
        font-weight: 700;
        margin-top: 20px;
        cursor: pointer;
    }
/* main page ends */

/* table page starts */
    #table-page{
        display: flex;
        flex-direction: column;
        padding: 40px 210px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    h2{
        font-size: 32px;
        font-weight: 700;
        margin: 40px;
    }

    table, th, td{
        border: 2px solid #C8C8B3;
        border-collapse: collapse;
    }

    th{
        background-color: #36C673;
        color: white;
        padding: 20px;
    }

    td{
        padding: 20px;
    }

    img{
        width: 100px;
    }

    .quantity{
        width: 40px;
        margin: 20px;
    }

    tr:hover{
        background-color: #F4F4BE;
    }

    #table-page>p{
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 18px;
    }

    #table-page>input{
        width: fit-content;
    }

    #mobile{
        padding: 5px;
        margin: 20px;
        border-radius: 5px;
        text-align: center;
    }

    #buy{
        padding: 15px 20px;
        background-color: #36C673;
        color: white;
        font-size: 15px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    #message{
        font-size: 25px;
        font-weight: 700;
        margin-top: 0px;
    }
/* table page ends */

/* footer starts */
    footer{
        background-color: black;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer>p{
        color: white;
        font-size: 15px;
    }
/* footer ends */